.contactInfo {
  margin-bottom: 20px;
}

.contactText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contactBtn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  color: #004000;
  background-color: transparent;
  border: 1px solid #004000;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: color 250ms ease, background-color 250ms ease,
    border-color 250ms ease;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #004000;
    border-color: #004000;
  }
}
