.contactInfo {
  margin-bottom: 20px;
}

.contactText {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contactBtn {
  display: block;
  padding: 10px;
  color: #004000;
  background-color: transparent;
  border: 1px solid #004000;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #004000;
    border-color: #004000;
  }
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}