.mainTitle {
  font-size: 30px;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  padding: 15px;
  background-color: #004000;
  border-color: #004000;
  border-radius: 8px;
}

.title {
  font-size: 20px;
}