.mainTitle {
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.container {
  padding: 10px 15px;
  margin-bottom: 25px;
  background-color: #004000;
  border-color: #004000;
  border-radius: 8px;
}

.title {
  font-size: 20px;
}
